.wrapper {
    padding: 10px;
    border: 1px black solid;
}

.post {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    font-size: large;
}

.post .like:before {
    color: black;
    content: '\2665';
}

.post .liked:before {

    color: red;
}